{% block body %}
    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between">
            <div>
                Distributed by
                <a target="" href="">sweetify.com.ua</a>
            </div>
        </div>
    </footer>
{% endblock %}
