{% block body %}
    <div class="main-header">
        <div class="main-header-logo">

            <div class="logo-header" data-background-color="dark">
                <a href="index.html" class="logo">
                    <img
                        src="/adminPanel/img/kaiadmin/logo_light.svg"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="20"
                    />
                </a>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="gg-menu-right"></i>
                    </button>
                    <button class="btn btn-toggle sidenav-toggler">
                        <i class="gg-menu-left"></i>
                    </button>
                </div>
                <button class="topbar-toggler more">
                    <i class="gg-more-vertical-alt"></i>
                </button>
            </div>

        </div>

        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
            <div class="container-fluid">
                <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex"></nav>

                <div class="ml-auto">
                    <a href="{{ path('app_home') }}" class="btn btn-primary btn-round">
                        Повернутись до сайту
                    </a>
                </div>
            </div>
        </nav>

    </div>
{% endblock %}
