{% block body %}
    <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">

            <div class="logo-header" data-background-color="dark">
                <a href="{{ path('admin_home') }}" class="logo">
                    <img
                        src="/adminPanel/img/kaiadmin/logo_light.svg"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="20"
                    />
                </a>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="gg-menu-right"></i>
                    </button>
                    <button class="btn btn-toggle sidenav-toggler">
                        <i class="gg-menu-left"></i>
                    </button>
                </div>
                <button class="topbar-toggler more">
                    <i class="gg-more-vertical-alt"></i>
                </button>
            </div>

        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
            <div class="sidebar-content">
                <ul class="nav nav-secondary">
                    <li class="nav-item active">
                        <a href="{{ path('admin_home') }}">
                            <i class="fas fa-home"></i>
                            <p>Головна</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="{{ path('admin_products') }}">
                            <i class="fas fa-home"></i>
                            <p>Товари</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="">
                            <i class="fas fa-home"></i>
                            <p>Замовлення</p>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="{{ path('admin_clients') }}">
                            <i class="fas fa-home"></i>
                            <p>Користувачi</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
