<!DOCTYPE html>
<html lang="UA">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Sweetify</title>

        <script>
            document.documentElement.classList.remove('no-js');
            document.documentElement.classList.add('js');
        </script>

        <link rel="stylesheet" href="/css/vendor.css">
        <link rel="stylesheet" href="/css/styles.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/images/logo_icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/logo_icon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/logo_icon.png">
    </head>
    <body>
        {% block body %}{% endblock %}

        {% include 'components/cart.html.twig' %}

        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
