<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>{% block title %}Замовити шоколад з вашим фото{% endblock %}</title>
        <meta name="description" content="Замовити шоколад з фото та побажанням. Ідеальний солодкий подарунок для коханих, друзів і колег. Шоколадка з фотографією ваших найкращих моментів життя, зробити ексклюзивний подарунок на довгу пам'ять">
        <meta name="keywords" content="шоколад з фото, подарунок, замовити шоколад, шоколад з побажанням, персоналізований шоколад, авторські шоколадки, кастомний шоколад, солодкий подарунок, шоколадка з фотографією">
        <meta name="robots" content="index, follow">

        <link rel="canonical" href="https://sweetify.com.ua/">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GG9HL7VN7B"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-GG9HL7VN7B');
        </script>

        <meta property="og:title" content="Замовити шоколад з вашим фото">
        <meta property="og:description" content="Солодкий подарунок з фото. Створи незабутній момент">
        <meta property="og:image" content="https://sweetify.com.ua/images/logo_icon.png">
        <meta property="og:url" content="https://sweetify.com.ua/">
        <meta property="og:type" content="website">

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Product",
                "name": "Шоколадка з фото",
                "image": "https://sweetify.com.ua/images/logo_icon.png",
                "description": "Замов шоколад з власною фотографією і побажанням. Ідеальний подарунок для коханих, друзів і колег",
                "brand": {
                    "@type": "Brand",
                    "name": "Sweetify"
                },
                "offers": {
                    "@type": "Offer",
                    "priceCurrency": "UAH",
                    "price": "350",
                    "url": "https://sweetify.com.ua/"
                },
                "aggregateRating": {
                    "@type": "AggregateRating",
                    "ratingValue": "4.8",
                    "reviewCount": "24"
                }
            }
        </script>

        <script>
            document.documentElement.classList.remove('no-js');
            document.documentElement.classList.add('js');
        </script>

        <link rel="stylesheet" href="/css/vendor.css">
        <link rel="stylesheet" href="/css/styles.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/images/logo_icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/logo_icon.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/logo_icon.png">
    </head>
    <body>
        {% block body %}{% endblock %}

        {% include 'components/cart.html.twig' %}

        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
