{% block body %}
    <header class="s-header">
        <div class="container s-header__content">

            <div class="s-header__block">
                <div class="header-logo">
                    <a class="logo" href="{{ path('app_home') }}">
                        <img src="images/logo.svg" alt="Homepage">
                    </a>
                </div>
                <a class="header-menu-toggle" href="#0"><span>Сторiнки</span></a>
            </div>

            <nav class="header-nav">
                <ul class="header-nav__links">
                    <li class="current"><a class="smoothscroll" href="{{ path('app_home') }}">Головна</a></li>
                    <li><a class="smoothscroll" href="#about">Замовити шоколад</a></li>
                    <li><a class="smoothscroll" href="#menu">Особистий кабiнет</a></li>
                </ul>

                <div class="header-contact">
                    {% if app.user %}
                        <a href="" class="header-contact__num btn">
                            {{ app.user.name }}
                        </a>
                    {% else %}
                        <a href="{{ path('app_authorization') }}" class="header-contact__num btn">Вхiд</a>
                    {% endif %}
                </div>
            </nav>

        </div>
    </header>
{% endblock %}
